<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-3">
                <a href="#" class="logo">
                    <img src="img/logo.svg" alt="ALU2+">
                </a>
            </div>
            <div class="col-md-9 col-9">
                <nav class="main-navigation">
                    <ul class="main-menu">
                        <li>
                            <a href="#">MIJN PROJECTEN</a>
                        </li>
                        <li>
                            <a href="#">MIJN GEGEVENS</a>
                        </li>
                        <li>
                            <a href="#">AFMELDEN</a>
                        </li>
                        <li>
                            <a href="#">NAAR ALU2+ WEBSITE</a>
                        </li>
                    </ul>
                    <div class="contact-info">
                        <a href="mailto:info@alu2.be" class="contact-email">info@alu2.be</a>
                        <a href="callto:011371111" class="contact-phone">011 / 37 11 11</a>
                    </div>
                </nav>
                <div class="show-menu">
                    <div class="main-line"></div>
                </div>
            </div>
        </div>
    </div>
</header>