body{
    font-family: 'MuseoSans';
    font-size: 14px;
    line-height: normal;
    color: #505050;
    overflow-x: hidden;
}
.img-fluid{
    width: 100%;
}

header{
    position: relative;
    height: 170px;
    padding-bottom: 45px;
    .container,
    .row,
    [class^=col]{
        height: 100%;
    }
}
.contact-info{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #f7f7f7;
    a{
        display: inline-block;
        color: #505050;
        font-size: 14px;
        font-weight: 300;
        line-height: 20.8px;
        &.contact-phone{
            background-image: url(../img/phone.svg);
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
            padding-left: 30px;
        }
        &.contact-email{
            background-image: url(../img/envelope.svg);
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
            padding-left: 30px;
        }
        &+a{
            position: relative;
            margin-left: 30px;
            &::after{
                content: '|';
                position: absolute;
                left:-15px;
                top: 0;
                color: #505050;
            }
        }
    }
}
.logo{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
    img{
        position: absolute;
        top: 0;
        left: 0;
    }
}
.main-navigation{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.main-menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 5px;
    padding: 0;
    li{
        position: relative;
        margin: 0 15px;
        &:last-child{
            margin-right: 0;
        }
        a{
            color: #505050;
            font-size: 16px;
            font-weight: 700;
            line-height: 20.8px;
            text-decoration: none;
            text-transform: uppercase;
        }
        &::after{
            position: absolute;
            content: '';
            width: 0;
            height: 4px;
            left: 0;
            bottom: -5px;
            background-color: #dedede;
            transition: width .4s ease;
        }
        &:hover,
        &.active{
            &::after{
                width: 100%;
            }
        }
    }
}

.banner-section{
    position: relative;
    padding-top: 100px;
    padding-bottom: 75px;
    background-image: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(99deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.7;
    }
    .banner{
        margin-left: 60px;
        h1{
            margin: 0;
            color: #ffffff;
            font-size: 37px;
            font-weight: 700;
            line-height: 35px;
            text-transform: uppercase;
        }
    }
}

.projects{
    padding: 60px 0;
}
.project-item{
    width: 89.474%;
    padding: 50px 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    a{
        font-size: 20px;
        width: 100%;
        position: relative;
        display: inline-block;
        color: #163d6c;
        padding-right: 70px;
        &::after{
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            right: 0;
            margin-right: 35px;
            margin-left: 30px;
            content: '';
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: 1px solid #183e6c;
            background-image: url(../img/arrow-right.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &+.project-item{
        border-top: 0;
    }
}

.section-title{
    h2{
        margin-bottom: 35px;
        display: inline-block;
        color: #163c6c;
        font-size: 29px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        &::after{
            content:'';
            display: block;
            width: 105px;
            height: 5px;
            margin-top: 15px;
            background-color: #dedede;
        }
    }
}
p{
    color: #505050;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    a{
        color: #505050;
        text-decoration: underline;
        &:hover{
            text-decoration:none;
        }
    }    
}

.sign-out,
.sign-in{
    padding: 75px 0;
}

.sign-form{
    width:89.193%;
    margin-bottom: 30px;
}
label{
    display: block;
    color: #163c6c;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
input{
    width: 100%;
    height: 45px;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: #f0f2f5;
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    border: none;
    outline-color: #163c6c;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow .4s ease;
    &.btn-blue{
        background-color: #1f4b81;
    }
    &:hover{
        box-shadow:none;
    }
}

.sub-title{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #dedede;
    color: #163d6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.project-info{
    margin-bottom: 35px;
    .project-content{
        font-size: 14px;
        line-height: 24px;
        p{
            margin-bottom: 5px;
        }
        a{
            text-decoration: none;
            &:hover{
                color: #183e6c;
                text-decoration: underline;
            }
        }
    }
}
.contact-item{
    margin-bottom: 35px;
    .contact-content{
        p{
            font-size: 14px;
        }
    }
}

.breadcrumb-nav{
    display: flex;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #dedede;
}
.project-details{
    padding: 35px 0;
}
.nav-tabs{
    list-style: none;
    padding: 40px 0;
    margin: 0;
    border-right: 2px solid #dedede;
    .nav-item{
        .nav-link{
            display: block;
            color: #505050;
            font-size: 16px;
            font-weight: 700;
            line-height: 1;
            padding: 10px 30px;
            text-decoration:none;
            transition: color .4s ease, background-color .4s ease;
            &::before{
                content: '›';
                display: inline-block;
                margin-right: 15px;
                line-height: 1;
            }
            &.active,
            &:hover{
                background-color: #f0f2f5;
                color: #163c6c;
            }
        }
    }
}
.back-link{
    color: #163c6c;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
}
.breadcrumb{
    display: inline-flex;
    background-color: transparent;
    margin: 0;
    padding:0;
    .breadcrumb-item{
        color: #989898;
        font-size: 16px;
        font-weight: 300;
        line-height: 20.8px;
        a{
            color: #183e6c;
        }
    }
}

.tab-content{
    margin: 35px 0;
    &>.tab-pane{
        display: none;
    }
    &>.active{
        display: block;
    }
}

.fade{
    opacity:0;
    transition: opacity .15s linear;
    &.show{
        opacity: 1;
    }
}

.loader{
    position: fixed;
    width:100%;
    height:100vh;
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000;
    color: #ffffff;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.8);
    .loader-icon{
        animation: commonLoader 2s linear infinite;
        background-image: url(../img/lnr-sync.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width:80px;
        height:80px;
        margin-bottom: 20px;
    }
    .loader-text{
        font-size: 32px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
    }
}

@keyframes commonLoader {
    100% {
      transform: rotate(360deg);
    }
}

footer{
    padding: 55px 0;
    p{
        margin: 0;
        color: #505050;
        font-size: 14px;
        font-weight: 300;
        line-height: 20.8px;
        a{
            color: #505050;
            font-size: 14px;
            font-weight: 300;
            line-height: 20.8px
        }
    }
}